*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --mainColor : #f7af6c ;
    --mainFont :"Lato", serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: calc(100% - 300px);
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

section{
    padding: 130px 0px;
}

.d-none{
    display: none !important;
}

.loading{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #f7af6c;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 